

.main {
    width: 90%;
    margin: 0 auto;
}

.container {
    background-color: #f4f4f4;
    width: 100%;
    height: 100vh;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* main */
.list {
    list-style: none;
}

.item {
    background-color: #fff;
    padding: 2px 20px;
    margin: 0;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 50px;
    font-weight: 700;
    border: 1px solid #000;
}

.item:hover {
    background-color: orange;
    color: #fff;
    cursor: pointer;
    border-color: rgb(255, 30, 22);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.sub.open {
    display: flex;
}

.sub {
    position: absolute;
    --height: 50px;
    width: calc(var(--height) * 2);
    height: var(--height);
    background-color: red;
    top: 20px;
    left: 250px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
    border: 2px solid rgb(0, 0, 0);
}

.box {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
}

.icon {
    font-size: 25px;
    color: yellow;
  
}

.para1.open {
    display: block;
}

.para1 {
    display: none;
}

/* Soccer */
.soccer.open {
    display: block;
}

.soccer {
    margin-top: 10px;
}

#field {
    width: 100%;
    height: 200px;
    border: 5px solid black;
    background-color: #00FF00;
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

#ball {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    transition: all 1s;
}

/* modal */
.mdl.open {
    display: flex;
}

.mdl {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.mdlC {
    display: block;
    padding: 20px;
    width: 40%;
    background-color: #fff;
}

.mdlP {
    font-size: 20px;
    border: 1px solid;
    text-align: center;
    padding: 5px 20px;
    display: block;
    margin-bottom: 5px;
}

.mdlP:hover {
    background-color: #ccc;
    cursor: pointer;
}

.mdlH {
    font-size: 20px;
    margin: 5px 10px;
    color: blue;
}

/* pane : ngăn */
.pane {
    background: #edf5e1;
    padding: 5px 20px ;
    border-top: solid 2px #c4df9b;
    position: relative;
}
  
.remove-btn {
    position: absolute;
    font-size: 110%;
    top: 0;
    color: #000;
    right: 10px;
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}


/* carousel : băng chuyền */
.carousel {
    position: relative;
    width: 100%;
    padding: 10px 40px;
    border: 1px solid #CCC;
    border-radius: 15px;
}
  
.carousel img {
    width: 100px;
    height: 100px;
    display: block;
}
  
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid gray;
    font-size: 24px;
    display: block;
}
  
.arrow:hover {
    background: #ccc;
    cursor: pointer;
}
  
.prev {
    left: 7px;
}
  
.next {
    right: 7px;
}
  
.gallery {
    width: 100%;
    overflow: hidden;
}
  
.gallery ul {
    height: 100px;
    width: 9999px;
    list-style: none;
    transition: margin-left 250ms;
    font-size: 0;
}
  
.gallery li {
    display: inline-block;
}